* {
    margin: 0;
}
body {
    background-color: #da5f5f;
    padding:0;
    margin:0;
    font-family: 'Roboto', sans-serif;
}
#header {
    height: 100px;
    width: 100%;
    background-color: #ffffff;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#navbar {
    display: flex;
    justify-content: space-around;
    padding: 0;
    width: 50%;
}
#navbar li {
    margin: 1.5% 10%;
    padding: 0;
    text-align: center;
    list-style-type: none;
    display: inline-block;
    transition: color 0.2s;
}
#navbar li:hover{
    color: #da5f5f;
    cursor: pointer;
}
#logo {
    color: #000000;
    margin: 5%;
}
#home {
    top:0;
    left:0;
    position: absolute;
}
.secWrap {
    display: flex;
    align-items: center;
}
.cont {
    display: block;
    width: 100%;
    height: 75%;
    border-radius: 3px;
    background-color: rgba(240, 248, 255, 0.534);
    padding: 1% 5% 4% 5%;
}
.underHeader {
    text-align: center;
    font-size: 1.5em;
    padding: 2%;
}
#proj {
    margin: auto;
    padding: 0;
    width: 50%;
}
#proj li {
    background-color: white;
    list-style-type: none;
    margin: 2%;
    padding: 2%;
    border-radius: 5px;
}
#proj li:hover {
    background-color: rgb(175, 180, 180);
}
.divider {
    height: 60vh;
    display: flex;
}
.quote {
    color: white;
    font-size: 1.5em;
    font-style: italic;
}
.quoteBy {
    color: white;
    font-size: 1.6em;
    font-style: italic;
    margin: auto;
    float:right;
}