body {
    background-color: white;
    padding:0;
    margin:0;
}
#navbar {
    width: 100%;
    background-color: gray;
    margin:0;
    padding:0;
}
#navbar li {
    padding: 2%;
    margin:0;
    list-style-type: none;
    display: inline-block;
}
#navbar li:hover{
    background-color: black;
    color: white;
    cursor: pointer;
}
div {
    margin:0;
}
#section1 {
    background-color: aqua;
    height:100vh;
}
#section2 {
    background-color: green;
    height:100vh;
}
#section3 {
    background-color: blue;
    height:100vh; 
}
